body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.05rem;
}

main {
    text-align: center;
}

video {
    width: 80%;
    margin: 20px auto;
}

.hidden {
    display: none;
}

button {
    width: 150px;
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: black;
    color: rgb(249, 248, 248);
    font-weight: bold;
}

button:hover{
    background-color: rgb(249, 248, 248);
    color: black;
}